<!DOCTYPE html>
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %title App
    %link(rel="stylesheet" href="css/style.css")
  %body
    .container
      .offers.js-grid

  %script(id="offer-popup" type="text/x-handlebars-template")
    {{#with activePopup}}
      .offer-popup.js-parent-element.js-popup(data-id="{{id}}")
        {{#with offer}}
          .offer-popup-header
            .foto-user
              %img(src="{{authorFoto}}")
            .info
              %p.name {{author}}
              %p.status нуждается в этом
            %a.btn.active(href="#") Добавить в друзья
          .offer-popup-descr
            .descr
              .name-service {{nameService}}
              .category {{categoryService}}
              {{#with ../offerPopup}}
                .foto-service
                  {{#with serviceImg}}
                    %img(src="{{address}}")
                    %a.status(href="#") Реализовано
                  {{/with}}
                .text
                  {{{description}}}
              {{/with}}
            %ul.descr-btns
              %li
                %a.btn.js-add-prop.js-popup(href="#" data-category="adding" class="{{#if showAdding}}active{{/if}}") Добавить к себе
              %li
                %a.btn.js-add-prop.js-popup(href="#" data-category="likes" class="{{#if showLikes}}active{{/if}}") Мне нравится
              %li
                %a.btn.js-show-writings(href="#" data-category="rewiews" class="{{#if showRewiews}}active{{/if}}") Добавить отзыв
          .offer-popup-rewiews
            .rewiews-block(class="{{#if showRewiews}}active-rewiews{{/if}}")
              %ul.rewiews
                {{#sortList rewiews 5}}
                  {{#each this}}
                    {{#if show}}
                      %li.js-comment(data-id="{{id}}")
                        .foto
                          %img(src="{{foto}}")
                        %p.text
                          {{{text}}}
                        %a.js-delete-writing.delete-offer.js-popup(href="#" data-category="rewiews")
                    {{/if}}
                  {{/each}}
                {{/sortList}}
              .add-rewiews
                .foto
                  {{#with ../../currentUser}}
                    %img(src="{{foto}}")
                  {{/with}}
                %form.form(action="#" method="")
                  %textarea.textspace.js-writing(placeholder="Комментировать" data-writing="rewiews")
          .offer-popup-likes
            %ul.likes-list
              %li.item
                %p.header {{adding.length}} добавили к себе
                  %ul.users
                    {{#each adding}}
                      %li
                        .foto
                          %img(src="{{foto}}")
                    {{/each}}
              %li.item
                %p.header {{likes.length}} нравится
                %ul.users
                  %li
                    {{#each likes}}
                      %li
                        .foto
                          %img(src="{{foto}}")
                    {{/each}}
        %a.popup-close.js-popup-close(href="#") Закрыть
        {{/with}}
    {{/with}}
      
  %script(id="offer" type="text/x-handlebars-template")
    {{#with data}}  
      {{#each this}}
        {{#with offer}}
          {{#unless delete}}
            %div.item.js-grid-item.js-parent-element(data-id="{{../id}}")
              .item-img
                %img(src="{{previewImg}}")
              .item-info
                %p.info-header
                  {{nameService}}
                %ul.info-descr
                  %li {{categoryService}}
                  %li {{deadline}}
                  %li {{place}}
                %ul.info-comment
                  {{#if likes.length}}
                    %li 
                      {{likes.length}} нравится
                  {{/if}} 

                  {{#if adding.length}}
                    %li 
                      {{adding.length}} добавили себе
                  {{/if}}

                  {{#if commentsCount}}
                    %li 
                      {{commentsCount}} комментариев
                  {{/if}}  

                  {{#if rewiewsCount}}
                    %li 
                      {{rewiewsCount}} отзывов
                  {{/if}} 
              .item-author
                .foto
                  %img(src="{{authorFoto}}")
                .info
                  %p.info-name 
                    {{author}}
                  %p.info-offer
                    предлагает
              
              .comments-block.js-comments(class="{{#if showComments}}active-comments{{/if}}")
                %ul.item-comments
                  {{#sortList comments 5}}
                    {{#each this}}
                      {{#if show}}
                        %li.js-comment(data-id="{{id}}")
                          .foto
                            %img(src="{{foto}}")
                          %p.text
                            {{{text}}}
                          %a.js-delete-writing.delete-offer(href="#" data-category="comments")
                      {{/if}}
                    {{/each}}
                  {{/sortList}}
                .item-write-comment
                  .foto
                    {{#with ../../../user}}
                      %img.user-foto(src="{{foto}}")
                    {{/with}}
                  %form(action="#" method="post")
                    %textarea.field.js-writing(placeholder="Комментировать" data-writing="comments")                

              .item-offer-btn
                %a.meet-offer.js-call-popup(href="#") Ознакомиться с предложением
                %ul.offer-btns
                  %li.item-btn
                    %a.link-btn.delete.js-delete-offer(href="#" data-btn="delete")
                  %li.item-btn
                    %a.link-btn.like.js-add-prop(href="#" data-category="likes" class="{{#if showLikes}}active{{/if}}")
                  %li.item-btn
                    %a.link-btn.add.js-add-prop(href="#" data-category="adding" class="{{#if showAdding}}active{{/if}}")
                  %li.item-btn
                    %a.link-btn.comment.js-show-writings(href="#" data-category="comments" class="{{#if showComments}}active{{/if}}")
          {{/unless}}
        {{/with}}
      {{/each}}
    {{/with}}

  %script(src="js/main.js")  